<h1>Cocktails</h1>

<div class="container">
  <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-category">Popular</div>
            <div class="card-description">
              <h2><%= cocktail.name %></h2>
              <p>My favorite cocktail!</p>
            </div>
          <%= link_to cocktail_path(cocktail), class: "card-link" %>
        </div>
      </div>
      <% end %>
  </div>
</div>

<%= link_to 'Add new cocktail', new_cocktail_path %>
