<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h1>New Cocktail</h1>
      <%= render 'form', cocktail: @cocktail %>
      <div class="padded"><%= link_to 'Back', cocktails_path %></div>
    </div>
  </div>
</div>




